<div class="row">
  <!-- colonne droite -->
  <div class="small-3 columns " id="boxright" style="border: 2px solid green;">
   <div class="row" id="boxtitle">
    	<div class="small-12" >
    		<div id="titlebottom">
    		     Chorale choeur de joie
    		          du puteaux	
    		</div>	
    		<div class="row" id="boxintroduction">
    			<div class="small-12">
    				    <center>	
    		          <div id="espace"></div>
    		        </center>
    		        <div id="introbottom">
    		        	<div id="sizefont">  Bienvenus </div>
                  La Chorale Chœur de Joie vous accompagne et accompagne ses membres dans les évènements joyeux ou douloureux de la vie.
    				          	
    		        </div>
                <div id="line"></div>
                <div id="contacteznousfont">  Contactez-nous </div>
                <div id="contacteznous">
                  Chorale Chœur de Joie est disponible pour des spectacles dans lÎle-de-France et au-delà.
                </div>
                <div id="line"></div>
                <div id="contacteznousfont">  Rejoignez-nous </div>
                <div id="contacteznous">
                  Vous souhaitez vous joindre à d'autres, pour travailler votre voix, chanter à plusieurs voix,apprendre de nouveaux chants ? contactez-nous et rejoignez-nous !
                </div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>

<!-- colonne  gauche -->
  <div>
    
  
  <div class="small-11 large-offset-1 " id="leftbox" style="border: 2px solid red;">  	
    <div class="content">
      <div class="navcontent" id="top">
          <ul> 
            
            <li><%= link_to "Connexion", choral_connexion_path %></li>
          <li><%= link_to "Contact", choral_contact_path %></li>
          <li><%= link_to "Photos", choral_photos_path %></li>
          <li><%= link_to "Concert", choral_concert_path %></li>
          <li><%= link_to "Accueil", root_path %></li>
          </ul>
      </div>
      <br><br>
     
    <div id="contentbloc"> 
        <div class="row">
            <div class="small-6 large-5 columns" id="concertbloc1">
                <p><strong>Concert one</strong></p>
                <p>Dimanche, 25 Decembre 2014 à 19h00</p>
                <p id="paddingline" >Puteaux, Haute-seine</p>
                <div id="lineblocconcert"></div>
            </div>
            <div class="small-6 large-5 columns" id="concertbloc2">
                <p><strong>Concert two</strong></p>
                <p><strong>Dimanche, 25 Decembre 2014 à 19h00</strong></p>
                <p id="paddingline">Puteaux, Haute-seine</p>
                <div id="lineblocconcert"></div>              
           </div>
       </div>
    
       <div class="row" id="bloc34">
            <div class="small-6 large-5 columns" id="concertbloc1">
                <p>Concert three</p>
                <p>Dimanche, 25 Decembre 2014 à 19h00</p>
                <p id="paddingline" >Puteaux, Haute-seine</p>
                <div id="lineblocconcert"></div>
            </div>
            <div class="small-6 large-5 columns" id="concertbloc2">
                <p>Concert four</p>
                <p>Dimanche, 25 Decembre 2014 à 19h00</p>
                <p id="paddingline">Puteaux, Haute-seine</p>
                <div id="lineblocconcert"></div>              
           </div>
       </div>

       <div class="row" id="bloc56">
            <div class="small-6 large-5 columns" id="concertbloc1">
                <p>Concert three</p>
                <p>Dimanche, 25 Decembre 2014 à 19h00</p>
                <p id="paddingline" >Puteaux, Haute-seine</p>
                <div id="lineblocconcert"></div>
            </div>
            <div class="small-6 large-5 columns" id="concertbloc2">
                <p>Concert four</p>
                <p>Dimanche, 25 Decembre 2014 à 19h00</p>
                <p id="paddingline">Puteaux, Haute-seine</p>
                <div id="lineblocconcert"></div>              
           </div>
       </div>
       
   </div>
  

  </div>
  </div>
  </div>


</div> <!-- page  -->