<div class="row">
  <!-- colonne droite -->
  <div class="small-3 columns " id="boxright" style="border: 2px solid green;">
   <div class="row" id="boxtitle">
    	<div class="small-12" >
    		<div id="titlebottom">
    		     Chorale choeur de joie
    		          du puteaux	
    		</div>	
    		<div class="row" id="boxintroduction">
    			<div class="small-12">
    				    <center>	
    		          <div id="espace"></div>
    		        </center>
                <br><br><br><br>
                <div id="contacteznousfont">  Webmaster </div>
                <div id="contacteznous">
                  Partie réservée au webmaster et adminstrateurs du site
                </div>
                <div id="line"></div>
                
    			</div>
    		</div>
    	</div>
    </div>
  </div>

<!-- colonne  gauche -->
  <div>
    
  
  <div class="small-11 large-offset-1 " id="leftbox" style="border: 2px solid red;">  	
    <div class="content">
      <div class="navcontent" id="top">
          <ul>     
              <li><%= link_to "Connexion", choral_connexion_path %></li>
              <li><%= link_to "Contact", choral_contact_path %></li>
              <li><%= link_to "Photos", choral_photos_path %></li>
              <li><%= link_to "Concert", choral_concert_path %></li>
              <li><%= link_to "Accueil", root_path %></li>
          </ul>
      </div>
      <br><br>
     
    <div id="contentbloc"> 
          <br><br><br><br> <br>  <br>    
        <form id="form"> 
          <div class="group">      
            <input type="text" required >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>
    
          <div class="group">      
            <input type="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Mot de passe</label>
          </div>  
           <div class="group">
             <input type="submit" value="Connexion" id="button"/> 
          </div>

           <div class="group">       
            <span class="highlight"></span>
            <span class="bar"></span>         
          </div>
          
       </form>

         
    
      
       
       
   </div>
  

  </div>
  </div>
  </div>


</div> <!-- page  -->
