<div class="row">
  <!-- colonne droite -->
  <div class="small-3 columns " id="boxright" style="border: 2px solid green;">
   <div class="row" id="boxtitle">
    	<div class="small-12" >
    		<div id="titlebottom">
    		     Chorale choeur de joie
    		          du puteaux	
    		</div>	
    		<div class="row" id="boxintroduction">
    			<div class="small-12">
    				    <center>	
    		          <div id="espace"></div>
    		        </center>
    		        <br><br><br><br>
                <div id="contacteznousfont"> Nos coordonnées </div>
                <div id="contacteznous">
                  <br>
                  <div> <i class="fa fa-map-marker fa-1" id="icons"> </i>33 rue saulinier</div>
                  <div>92800 Puteaux</div>
                  <br>
                  <div ><i class="fa fa-phone-square fa-1 " id="icons"> </i> Marcelle 06-25-08-86-46</div>
                  <div id="phone">  Françoise  06-77-50-08-87</div>
                  <br>
                  <div><i class="fa fa-at fa-1 "  ></i>  <span id="mail">choeurdejoie_puteaux@gmail.com</span></div>
                </div>
                <div id="line"></div>
                
    			</div>
    		</div>
    	</div>
    </div>
  </div>

<!-- colonne  gauche -->
  <div>
    
  
  <div class="small-11 large-offset-1 " id="leftbox" style="border: 2px solid red;">  	
    <div class="content">
      <div class="navcontent" id="top">
          <ul>       
            <li><%= link_to "Connexion", choral_connexion_path %></li>
            <li><%= link_to "Contact", choral_contact_path %></li>
            <li><%= link_to "Photos", choral_photos_path %></li>
            <li><%= link_to "Concert", choral_concert_path %></li>
            <li><%= link_to "Accueil", root_path %></li>
          </ul>
      </div>
      <br><br>
     
    <div id="contentbloc"> 
        <form id="form"> 
          <div class="group">      
            <input type="text" required >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Name</label>
          </div>
    
          <div class="group">      
            <input type="text" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
          </div>  
          <div class="group">      
            <input type="text" required >
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Sujet</label>
          </div> 
          <div class="group">
             <textarea rows="20" cols="60"></textarea>     
             <span class="highlight"></span>
            <span class="bar"></span>
            <label>Message</label>
          </div>
           <div class="group">
             <input type="submit" value="Envoyer" id="button"/> 
          </div>
          
       </form>

         
    
      
       
       
   </div>
  

  </div>
  </div>
  </div>


</div> <!-- page  -->
