<div class="row">
  <!-- colonne droite -->
  <div class="small-3 columns " id="boxright" style="border: 2px solid green;">
   <div class="row" id="boxtitle">
    	<div class="small-12" >
    		<div id="titlebottom">
    		     Chorale choeur de joie
    		          du puteaux	
    		</div>	
    		<div class="row" id="boxintroduction">
    			<div class="small-12">
    				    <center>	
    		          <div id="espace"></div>
    		        </center>
                <br><br><br><br>  
                <div id="nosphotosfont">  NOS PHOTOS </div>
                <div id="nosphotos">
                  Tous les albums photos des concerts 
                </div>
                <div id="line"></div>
                
    			</div>
    		</div>
    	</div>
    </div>
  </div>

<!-- colonne  gauche -->
  <div>
    
  
  <div class="small-11 large-offset-1 " id="leftbox" style="border: 2px solid red;">  	
    <div class="content">
      <div class="navcontent" id="top">
          <ul>  
             <li><%= link_to "Connexion", choral_connexion_path %></li>
             <li><%= link_to "Contact", choral_contact_path %></li>
             <li><%= link_to "Photos", choral_photos_path %></li>
             <li><%= link_to "Concert", choral_concert_path %></li>
             <li><%= link_to "Accueil", root_path %></li>
          </ul>
      </div>
      <br><br>
     
    <div id="contentbloc"> 
  <br><br><br>
      <div class="row">
            <div class="small-6 large-5 columns" id="concertbloc1">
              <ul class="clearing-thumbs clearing-feature " data-clearing> 
                <li><a href="/assets/img_2.jpg"><img src="/assets/img_thumb_2.jpg"></a></li> 
                <li class="clearing-featured-img"><a href="/assets/img_1.jpg"><img data-caption="caption here..."  src="/assets/img_thumb_1.jpg"></a></li> 
                <!-- <li><a href="/assets/img_3.jpg"> <%= image_tag "img_th_3.jpg" %></center></a></li>  -->
                <li><a href="<%= asset_path( 'img_3.jpg' ) %>"> <img src="<%= asset_path( 'img_th_3.jpg' ) %>" /></center></a></li>
                
                <li><a href="/assets/img_4.jpg"><img src="/assets/img_th_4.jpg"></a></li> 
                <li><a href="/assets/img_5.jpg"><img src="/assets/img_th_5.jpg"></a></li> 
                <li><a href="/assets/img_6.jpg"><img src="/assets/img_th_6.jpg"></a></li> 
                <li><a href="/assets/img_7.jpg"><img src="/assets/img_th_7.jpg"></a></li> 
                <li><a href="/assets/img_8.jpg"><img src="/assets/img_th_8.jpg"></a></li> 
                <li><a href="/assets/img_9.jpg"><img src="/assets/img_th_9.jpg"></a></li> 
                <li><a href="/assets/img_10.jpg"><img src="/assets/img_th_10.jpg"></a></li>   
             </ul>      
                <p id="paddinglinealbum" >Album photos Chorale Choeur Joie Puteaux </p>
                <div id="lineblocconcert"></div>
            </div>
              <div class="small-6 large-5 columns" id="concertbloc2">
                <ul class="clearing-thumbs clearing-feature " data-clearing> 
                <li><a href="/assets/img_12.jpg"><img src="/assets/img_th_12.jpg"></a></li> 
                <li class="clearing-featured-img"><a href="/assets/img_11.jpg"><img data-caption="caption here..."  src="/assets/img_th_11.jpg"></a></li> 
                <li><a href="/assets/img_13.jpg"><img src="/assets/img_th_13.jpg"></a></li> 
                <li><a href="/assets/img_14.jpg"><img src="/assets/img_th_154.jpg"></a></li> 
                <li><a href="/assets/img_15.jpg"><img src="/assets/img_th_15.jpg"></a></li> 
                <li><a href="/assets/img_156.jpg"><img src="/assets/img_th_16.jpg"></a></li> 
                <li><a href="/assets/img_17.jpg"><img src="/assets/img_th_17.jpg"></a></li> 
                <li><a href="/assets/img_18.jpg"><img src="/assets/img_th_18.jpg"></a></li> 
                <li><a href="/assets/img_19.jpg"><img src="/assets/img_th_19.jpg"></a></li> 
                <li><a href="/assets/img_20.jpg"><img src="/assets/img_th_20.jpg"></a></li>   
             </ul>   
                <p id="paddinglinealbum">Album photos messe des migrants </p>
                <div id="lineblocconcert"></div>              
           </div>
           <div class="small-6 large-5 columns" id="concertbloc2">
              <ul class="clearing-thumbs clearing-feature " data-clearing> 
                <li><a href="/assets/img_22.jpg"><img src="/assets/img_th_22.jpg"></a></li> 
                <li class="clearing-featured-img"><a href="/assets/img_21.jpg"><img data-caption="caption here..."  src="/assets/img_th_21.jpg"></a></li> 
                <li><a href="/assets/img_23.jpg"><img src="/assets/img_th_23.jpg"></a></li> 
                <li><a href="/assets/img_24.jpg"><img src="/assets/img_th_24.jpg"></a></li> 
                <li><a href="/assets/img_25.jpg"><img src="/assets/img_th_25.jpg"></a></li> 
                <li><a href="/assets/img_26.jpg"><img src="/assets/img_th_26.jpg"></a></li> 
                <li><a href="/assets/img_27.jpg"><img src="/assets/img_th_27.jpg"></a></li> 
                <li><a href="/assets/img_28.jpg"><img src="/assets/img_th_28.jpg"></a></li> 
                <li><a href="/assets/img_29.jpg"><img src="/assets/img_th_29.jpg"></a></li>    
             </ul>   
                
                <p id="paddinglinealbum">Album photos Casamance Puteaux </p>
                <div id="lineblocconcert"></div>              
           </div>




       </div>
    
       <div class="row" id="bloc34">
            <div class="small-6 large-5 columns" id="concertbloc1">
               <ul class="clearing-thumbs clearing-feature " data-clearing> 
                <li><a href="/assets/img_31.jpg"><img src="/assets/img_th_31.jpg"></a></li> 
                <li class="clearing-featured-img"><a href="/assets/img_30.jpg"><img data-caption="caption here..."  src="/assets/img_th_30.jpg"></a></li> 
                <li><a href="/assets/img_32.jpg"><img src="/assets/img_th_32.jpg"></a></li> 
                <li><a href="/assets/img_33.jpg"><img src="/assets/img_th_33.jpg"></a></li> 
                <li><a href="/assets/img_35.jpg"><img src="/assets/img_th_35.jpg"></a></li> 
                 
             </ul>   
                <p id="paddinglinealbum" >Photos Concert chorale Vieille Eglise Puteaux</p>
                <div id="lineblocconcert"></div>
            </div>
            
       </div>

       
       
        
      
  <!--   <ul class="clearing-thumbs clearing-feature " data-clearing> 
      <li><a href="/assets/img_2.jpg"><img src="/assets/img_thumb_2.jpg"></a></li> 
      <li class="clearing-featured-img"><a href="/assets/img_1.jpg"><img data-caption="caption here..."  src="/assets/img_11.jpg"></a></li> 
      <li><a href="/assets/img_3.jpg"><img src="/assets/img_th_3.jpg"></a></li> 
      <li><a href="/assets/img_4.jpg"><img src="/assets/img_th_4.jpg"></a></li> 
      <li><a href="/assets/img_5.jpg"><img src="/assets/img_th_5.jpg"></a></li> 
      <li><a href="/assets/img_6.jpg"><img src="/assets/img_th_6.jpg"></a></li> 
      <li><a href="/assets/img_7.jpg"><img src="/assets/img_th_7.jpg"></a></li> 
      <li><a href="/assets/img_8.jpg"><img src="/assets/img_th_8.jpg"></a></li> 
      <li><a href="/assets/img_9.jpg"><img src="/assets/img_th_9.jpg"></a></li> 
      <li><a href="/assets/img_10.jpg"><img src="/assets/img_th_10.jpg"></a></li> 

      <h5>ALBUM ONE</h5>
    </ul>      
      
       
      

     <ul class="clearing-thumbs clearing-feature" data-clearing id="gallery"> 
      <li><a href="/assets/img_1.jpg"><img src="/assets/img_thumb_1.jpg"></a></li> 
      <li class="clearing-featured-img"><a href="/assets/img_2.jpg"><img src="/assets/img_thumb_2.jpg"></a></li> 
      <li><a href="/assets/img_3.jpg"><img src="/assets/img_th_3.jpg"></a></li> 
      <li><a href="/assets/img_4.jpg"><img src="/assets/img_th_4.jpg"></a></li> 
      <li><a href="/assets/img_5.jpg"><img src="/assets/img_th_5.jpg"></a></li> 
      <li><a href="/assets/img_6.jpg"><img src="/assets/img_th_6.jpg"></a></li> 
      <li><a href="/assets/img_7.jpg"><img src="/assets/img_th_7.jpg"></a></li> 
      <li><a href="/assets/img_8.jpg"><img src="/assets/img_th_8.jpg"></a></li> 
      <li><a href="/assets/img_9.jpg"><img src="/assets/img_th_9.jpg"></a></li> 
      <li><a href="/assets/img_10.jpg"><img src="/assets/img_th_10.jpg"></a></li> 
    </ul>     
 -->
   </div>
  

  </div>
  </div>
  </div>


</div> <!-- page  -->